<table class= 'table-format reg-fonts'>
  <tr>
    <th>Data</th>
    <th>Valor</th>
    <th>Status</th>
  </tr>
    <% transfers.each do |transfer|  %>
    <tr>
      <td><%= date(transfer['createdAt'])  %></td>
      <td><%= humanized_money_with_symbol Money.new(transfer['amount']) %></td>
      <td><%= transfer['status']  %></td>
    </tr>
    <% end %>
</table>

