<div class="row">
  <div class="col-xs-12 col-sm-6">
    <table class='table'>
      <tr>
        <th>Banco</th>
        <td><%= @banking_information.bank %></td>
      </tr>
      <tr>
        <th>Tipo de conta</th>
        <td><%= @banking_information.account_type %></td>
      </tr>
      <tr>
        <th>Agência</th>
        <td><%= @banking_information.bank_ag %></td>
      </tr>
      <tr>
        <th>Conta Corrente</th>
        <td><%= @banking_information.bank_cc %></td>
      </tr>
    </table>
  </div>
</div>
