// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F2F2F2;
$dark-gray: #919190;
$mid-gray:  #98A789;

//call outs

 $active-green: #98E68A;
 $active: #8AEEA2;

// main palette
$deep: #090089;
$mid: #0060CA;
$light: #91CEFF;
$contrast: #FCDC74;


//main palette variations
$deep50: rgba($deep,0.5);
$deep80: rgba($deep,0.8);
$deep20: rgba($deep,0.2);
$mid50: rgba($mid, 0.5);
$mid80: rgba($mid, 0.8);
$mid20: rgba($mid, 0.2);
$light50: rgba($light,0.5);
$light80: rgba($light,0.8);
$light20: rgba($light,0.2);
$contrast50: rgba($contrast, 0.5);
$contrast80: rgba($contrast, 0.8);
$contrast20: rgba($contrast, 0.2);

//second palette
$dark-heavy: #232931;
$dark-marine: #062743;
$dark-mid: #393E46;

$marine-mid: #113A5D;

//third palette
$clear-egg: #F2F2F0;

//items
$public-navbar: $deep;
$public-footer: $contrast;

$pro-navbar: $dark-heavy;
$pro-sidebar: $dark-marine;
$pro-footer: $dark-mid;

$tour-store-navbar: $clear-egg;
$tour-store-footer: $light;
