// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F2F2F2;
$dark-gray: #919190;
$mid-gray:  #98A789;

$tour-store-navbar: #98A789;
$tour-store-footer: #98A789;


$deep: #090089;
$mid: #0060CA;
$light: #91CEFF;
$contrast: #FCDC74;
