.legal-text{
  margin:20px;
  padding: 10px;
  h1{
    text-align: center;
    font-size: 32px;
  }
  h2{
    font-size: 22px;
    text-align: center;
  }
  h3{
    font-size: 20px;

  }
  h4{
    font-size: 15px;

  }
  p {
    font-size: 10px;
  }
  ul {
    list-style-type:none;
    li {
      font-size: 8px;
    }
  }
}

.terms-link {
  font-size: 3px;
  color: gray;
  font-style: italic;
}
