<%= render 'shared/components/navbars/sidebar' %>
<div class="col-xs-10">
  <h2>Lançamentos</h2>
  <%= render 'shared/components/tables/table_balance_details', balance_details: @tour_store.balance_details  %>
</div>
