<%= render 'shared/components/navbars/sidebar' %>
<div class="col-xs-10 next-sidebar">
  <h1>Editar informação da empresa </h1>
    <%= render 'shared/forms/form_tour_store', tour_store: @tour_store  %>
</div>
