<div class="container">
  <h1>TourStores#show</h1>
  <h2>Store: <%= @tour_store.name  %></h2>
  <%= link_to "new activity", new_tour_store_activity_path(@tour_store), class: 'btn btn-primary btn-lg' %>
  <div class="activity-container">
    <div class="row">
      <% @activities.each do |activity|%>
        <%= render 'shared/components/card_activity', activity: activity  %>
      <% end %>
    </div>
  </div>
</div>
