<div class="container">
  <h1>TourStores#show</h1>
  <%= link_to "new activity", new_tour_store_activity_path(@tour_store), class: 'btn btn-primary btn-lg' %>
  <p>Find me in app/views/tour_stores/show.html.erb</p>
</div>
