<div class="container">
  <h1><%= @tour_store.name  %></h1>
  <% if is_admin? %>
    <%= link_to "Criar novo tour", new_tour_store_activity_path(@tour_store), class: 'btn btn-primary btn-md' %>
  <% end %>
  <div class="activity-container">
    <div class="row">
      <% @activities.each do |activity|%>
        <%= render 'shared/components/card_activity', activity: activity  %>
      <% end %>
    </div>
  </div>
</div>
