<div class="navbar-tourcontrole-item">
  <% if current_user.tour_store_admins.any? %>
    <div class="dropdown">
      <div class="navbar-tourcontrole-link"
     dropdown-toggle " id='navbar-tourcontrole-dashboard-menu' data-toggle='dropdown'>
        <i class="fas fa-tachometer-alt"></i> Painel Empresa
      </div>
      <ul class= 'dropdown-menu dropdown-menu-right navbar-tourcontrole-dropdown-menu'>
        <% current_user.tour_store_admins.each do |store_admin|%>
          <% store = store_admin.tour_store%>
          <li>
            <%= link_to store_admin.tour_store.name, tour_store_dashboard_path(store_admin.tour_store)  %>
          </li>
           <% end  %>
           <li>
             <%= link_to '<i class="fas fa-plus"></i> Adicionar Empresa'.html_safe, new_tour_store_path, class: 'navbar-tourcontrole-link'  %>
           </li>
         </ul>
      </div>
    <% else %>
    <%= link_to '<i class="fas fa-plus"></i> Adicionar Empresa'.html_safe, new_tour_store_path, class: 'navbar-tourcontrole-link'  %>
  <% end %>
</div>
