<% if user_signed_in? && current_user.tour_store_admins.any? %>
  <% if user_signed_in? && current_user.tour_store_admins.length == 1 %>
    <% store = current_user.tour_store_admins.first.tour_store %>
    <li>
      <%= link_to  '<i class="fas fa-tachometer-alt"></i> Painel Empresa'.html_safe, tour_store_dashboard_path(store) ,class: 'navbar-tc-link' %>
    </li>
  <% else %>
    <% current_user.tour_store_admins.each do |store_admin|  %>
      <li>
        <%= link_to store_admin.tour_store.name, tour_store_dashboard_path(store_admin.tour_store), class: 'navbar-tc-link'  %>
      </li>
     <% end %>
    <li>
      <%= link_to '<i class="fas fa-plus"></i> Adicionar Empresa'.html_safe, new_tour_store_path, class: 'navbar-tc-link'  %>
    </li>
  <% end %>
<% else %>
  <li>
     <%= link_to '<i class="fas fa-plus"></i> Adicionar Empresa'.html_safe, new_tour_store_path, class: 'navbar-tc-item navbar-tc-link'  %>
   </li>
<% end %>
