<%= link_to '<i class="fas fa-plus-square"></i> Cadastre-se'.html_safe, cadastro_path, class: "navbar-tc-item navbar-tc-link" %>

<%= link_to t(".sign_in", default: "<span class='glyphicon glyphicon-log-in' aria-hidden='true'></span>  Entrar".html_safe), new_user_session_path, class: "navbar-tc-item navbar-tc-link" %>

