<%= simple_form_for(tour_store_admin, method: :post, url: tour_store_tour_store_admins_path(@tour_store), html: {class: ''}) do |f| %>
  <div class="row form-format light80-background">
    <div class="row form-segment">
        <%= f.input :email, label:'Email', placeholder: 'Insira o email do novo usuario' %>
        <%= f.input :manager, label:'Manager', input_html:{class: 'big-checkbox'} %>
    </div>
    <%= f.submit class: 'btn btn-md btn-success align-right', value: 'Criar Admin' %>
  </div>
<% end %>
