<div class=" navbar-tour-store navbar-tc">

  <!-- Logo -->
  <%= link_to logo_link, class: "navbar-tc-brand" do %>
    <%= image_tag logo_image, height: 50 %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-tc-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
       <%= render 'shared/components/navbars/actions/dashboard_link'  %>
      <!-- Avatar with dropdown menu -->
      <%= render 'shared/components/navbars/actions/avatar_drop_down_menu'  %>
    <% else %>
      <!-- Avoid displaying login button on public store navbar -->
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-tc-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tc-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
