<div class="container">

  <h1>Orders#edit</h1>

  <h2>Fazer reserva para: <%= @activity.name  %></h2>
  <%= render 'shared/forms/form_order', activity: @activity, order: @order  %>
  <p>Find me in app/views/orders/edit.html.erb</p>



</div>

