<div class="container">
  <h2>Faça a sua reserva</h2>
  <h3> <%= @activity.name  %></h3>
  <h3>Dada: <%= @event.starts_at.to_date.to_formatted_s(:rfc822)  %> </h3>
  <h3>Horário: <%= @activity.starts_at.to_time.getlocal.strftime("%I:%M %p")  %> </h3>
  <%= render 'shared/forms/form_order', activity: @activity, order: @order %>
</div>
