<div class="container">
  <h1>Orders#new</h1>


  <h2>Fazer reserva para: <%= @activity.name  %></h2>
  <%= render 'shared/forms/form_order', activity: @activity, order: @order  %>
  <p>Find me in app/views/orders/new.html.erb</p>



</div>
