<%= render 'shared/components/navbars/sidebar' %>

<div class="col-xs-10">
  <h1>Detalhes do pedido: <%= @order.id %></h1>
  <div class= 'row'>
    <div class="col-xs-8">
      <%= render 'shared/components/tables/table_order_details' %>
    </div>
  </div>
  <h2>Visitantes</h2>
  <div class='row'>
    <div class="col-xs-8">
      <%= render 'shared/components/tables/table_order_guests' %>
    </div>
  </div>
</div>
