<%= render 'shared/components/carousel_home'  %>

<div class="container">
  <h1>Pages#home</h1>
  <%= link_to "New store", new_tour_store_path, class: 'btn btn-primary btn-lg'  %>
  <%= link_to "Stores", tour_stores_path, class: 'btn btn-success btn-lg'  %>
</div>
