<div class="banner landing-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.7) 50%), url('http://www2.padi.com/blog/wp-content/uploads/2017/01/shutterstock_254348371-1-1024x683.jpg');">
  <div class="banner-content">
    <h1>Venda todas as vagas dos seus passeios e excursões </h1>
    <h2>Ofereça reservas online no seu próprio site com a tecnologia da Tourcontrole</h2>
    <%= render 'shared/forms/lead_form' %>
  </div>
</div>
