<div class="container">
  <div class="legal-text">
    <h1>Política de Privacidade e Termos de Serviço</h1>
    <h2>ACORDO ENTRE CLIENTE E  OO INOVACOES LTDA - ME(TourControle Ltda.)</h2>
    <p>Bem-vindo ao site TourControle.com (o "Site"). Este Site é desenvolvido unicamente para criar uma ferramenta de reserva para ajudar prestadores de serviços turísticos, determinando a sua disponibilidade, e permitindo que sejam feitas Reservas legítimas com fornecedores, e para nenhum outro propósito além dos mencionados. </p>

    <p>O TourControle é somente uma ferramenta de reservas embutida em sites de prestadores de serviços ou vendedores de produtos turísticos. Sua atuação e escopo limita-se a fornecer um mecanismo para reservas.</p>

    <p>Desse modo, um comprador não irá direcionar-se diretamente ao Site. Seu contato com a ferramenta de reserva se dará por meio do site do fornecedor escolhido por ele.</p>

    <p>Os termos "Site", "nós", "nosso" e "TourControle" referem-se ao Tour Controle Ltda., uma empresa de responsabilidade limitada registrada de São Paulo. O termo "você" refere-se ao cliente que visita o Site e / ou a Reserva a Reservas através de nós neste Site, ou através de nossos agentes de atendimento ao cliente ou a pessoa que acessa, usa e / ou participa no site de qualquer maneira.</p>

    <p>Você reconhece que o Site serve como local para a distribuição e publicação on-line de informações enviadas por usuários de modo que profissionais do serviço e Usuários do Serviço tenham acesso. Todos os agentes envolvidos nas operações do site   clicando em "Eu li e concordo com os termos de uso", certificam que: (1) são um profissional de serviço ou um potencial usuário do serviço, (2) têm a autoridade para participar desses Termos de Uso, (3)  autorizam a transferência de pagamento pelos Serviços solicitados através do uso do Website, e (4) concordam em ficar vinculados por todos os termos e condições destes Termos de Uso e quaisquer outros documentos incorporados por referência aqui. Se você não concorda com o acima exposto, não deve clicar para afirmar sua aceitação, caso em que você está proibido de acessar ou usar o site. Se você não concordar com nenhuma das disposições estabelecidas nos Termos de Uso, suspenda gentilmente a visualização ou participação neste site imediatamente.</p>

    <h3>MODIFICAÇÕES DOS TERMOS DE USO E / OU POLÍTICA DE PRIVACIDADE</h3>

    <p>O TourControle reserva-se o direito, a seu exclusivo critério, de alterar ou modificar os Termos de Uso e quaisquer outros documentos incorporados por referência aqui, em qualquer momento. Caso isso ocorra, o TourControle publicará uma notificação sobre as alterações e os Termos de Uso alterados no site TourControle.com e / ou comunicar as emendas através de qualquer método de contato escrito que o TourControle tenha estabelecido com você. É sua responsabilidade revisar os Termos de Uso para quaisquer mudanças. O seu uso do site após qualquer alteração dos Termos de Uso significará seu consentimento e aceitação de quaisquer Termos de Uso revistos. Se você não concorda em respeitar estes ou quaisquer futuros Termos de Uso, não use ou acesse o site.</p>

    <p>A utilização desse Site é oferecida a você de maneira condicionada à aceitação sem modificação de todos os termos, condições e avisos apresentados abaixo (coletivamente, o "Contrato"). </p>

    <p>Ao acessar ou usar este Site de qualquer maneira, você concorda em ficar vinculado pelo Contrato. Na medida em que você compra qualquer mercadoria, reserve quaisquer produtos ou serviços de viagem neste Site, você concorda que este Contrato se aplicará a todas essas transações. Leia atentamente o Contrato. Se você não aceitar todos estes termos e condições, não use este Site ou faça Reservas através deste Site. Certifique-se de voltar a esta página periodicamente para rever a versão mais atual do Contrato. Reservamo-nos o direito, a qualquer momento, a nosso exclusivo critério, de alterar ou modificar de outro modo o Contrato sem aviso prévio, e seu acesso ou uso continuado deste Site significa sua aceitação do Contrato atualizado ou modificado.</p>

    <p>O SERVIÇO DO SITE É A DISPONIBILIDADE DE UMA PLATAFORMA ONLINE NA QUAL OS FORNECEDORES (DEFINIDOS ABAIXO) PODEM CRIAR LISTAS (DEFINIDOS ABAIXO) DE PRODUTOS E SERVIÇOS (DEFINIDOS ABAIXO) E PESSOAS (DEFINIDOS ABAIXO). VOCÊ ENTENDE E CONCORDA QUE TourControle NÃO É UMA PARTE DE QUALQUER ACORDO ENTRE PROVEDORES DE SERVIÇOS E PESSOAS, NEM É TourControle, CORRETOR DE PROPRIEDADE, AGENTE OU ASSEGURADOR. O TourControle NÃO TEM CONTROLO SOBRE A CONDUTA DOS PROVIDENTES, PESSOAS E OUTROS USUÁRIOS DO SITE OU QUALQUER PRODUTO E SERVIÇO, E REJEITA TODA A RESPONSABILIDADE NESTE REGARDO. DE MODO QUE O TourControle NÃO TEM NENHUMA RESPONSABILIDADE SOBRE COMO SE DEU OU COMO SE DARÁ A PRESTAÇÃO DOS SERVIÇOS RESERVADOS VIA PLATAFORMA. A ATUAÇÃO E RESPONSABILIDADE DA EMPRESA SE RESTRINGEM SOMENTE AO MOMENTO DA RESERVA DO PRODUTO OU SERVIÇO.</p>

    <h3>TERMOS</h3>

    <p>"Conteúdo do TourControle" significa todo o Conteúdo que o TourControle disponibiliza através do Site, incluindo qualquer Conteúdo licenciado de um terceiro, mas excluindo o Conteúdo de Membros.</p>

    <p>"Reserva" significa qualquer pedido de reserva de um Produto e Serviço através do Site.</p>

    <p>"Conteúdo coletivo" significa conteúdo de membros e conteúdo de TourControle.</p>

    <p>"Conteúdo" significa texto, gráficos, imagens, música, software, áudio, vídeo, informações ou outros materiais.</p>

    <p>"Comprador" significa um Usuário ou membro que solicita uma Reserva de um Produto e Serviço através do Site.</p>

    <p>"Listagem" significa um Produto ou Serviço listado por um Provedor como disponível para aluguel ou Reserva através do Site.</p>

    <p>"Membro" significa uma pessoa que completa o processo de registro de conta do TourControle, incluindo, entre outros, Provedores e compradors, conforme descrito em "Registro de conta" abaixo.</p>

    <p>"Conteúdo de Membro" significa todo o Conteúdo que um Membro pública, envia, pública, envia ou transmite para ser disponibilizado através do Site.</p>

    <p>"Produto e serviço" significa qualquer objeto disponível para aluguel ou compra ou qualquer atividade ou serviço disponível para a reserva.</p>

    <p>"Fornecedor" significa um Membro que cria uma Listagem através do Site ou fornece um Produto e Serviço.</p>

    <p>"Imposto" ou "Impostos" significam quaisquer impostos sobre vendas, impostos sobre o valor adicionado, impostos sobre bens e serviços e outros impostos municipais, estaduais e federais indiretos ou outros impostos sobre a retenção na fonte e sobre lucros pessoais ou corporativos. E quaisquer impostos que possam incidir em operações do Site.</p>

    <p>"Taxas" significa quaisquer taxas da operação. Como a cobrada pelo TourControle (no valor de 5%) e a cobrada pelo meio de pagamento.</p>

    <p>“Empresa Parceira de Pagamentos da TourControle” significa um sistema que permite a transferência de dinheiro entre indivíduos ou negociantes usando um endereço de e-mail, assim, evitando métodos tradicionais como cheques e boleto bancário. Podendo ser a PayPal ou qualquer outra Empresa Parceira de Pagamentos da TourControle ou um similar. A alteração poderá ocorrer.</p>

    <p>Certas áreas do Site (e seu acesso ou uso de certos aspectos do Conteúdo Coletivo) podem ter termos e condições diferentes postados ou podem exigir que você aceite e aceite termos e condições adicionais. Se houver um conflito entre estes Termos e termos e condições postados para uma área específica do Site, ou Conteúdo Coletivo, os últimos termos e condições terão precedência em relação ao seu uso ou acesso a essa área do Site ou Coletivo Conteúdo.</p>

    <h3>USO DO SITE</h3>

    <p>Como condição de uso deste Site, você garante que (i) você tem pelo menos 18 anos de idade; (ii) você possui a autoridade legal para criar uma obrigação legal obrigatória; (iii) você usará este Site de acordo com este Contrato; (iv) você só usará este Site para fazer reservas legítimas para você ou para outra pessoa para quem você esteja legalmente autorizado a agir; (v) você informará às respectivas pessoas sobre os termos e condições a que se aplicam às Reservas que você fez em seu nome, incluindo todas as regras e restrições aplicáveis ​​a elas; (vi) todas as informações fornecidas por você neste Site são verdadeiras, precisas, atualizadas e completas, e (vii) se você possuir uma conta TourControle, você salvará as informações da sua conta e supervisionará e será completamente responsável por qualquer uso de sua conta por você e por qualquer pessoa que não seja você. Nós mantemos o direito, a nosso exclusivo critério, de negar o acesso a qualquer pessoa os serviços que oferecemos, a qualquer momento e por qualquer motivo, incluindo, mas não limitado a violação deste Contrato.</p>

    <h3>ATIVIDADES PROIBIDAS</h3>

    <p>O conteúdo e a informação deste Site (incluindo, mas não limitado a, preço e disponibilidade de serviços), bem como a infraestrutura utilizada para fornecer esse conteúdo e informação, são proprietárias para nós ou nossos fornecedores e provedores. Embora você possa fazer cópias limitadas do seu itinerário de viagem (e documentos relacionados) para uso pessoal relacionados aos serviços reservados através deste Site, você concorda em não modificar, copiar, distribuir, transmitir, exibir, executar, reproduzir, publicar, licenciar, criar derivativos, transferir ou vender ou revender qualquer informação, software, produtos ou serviços obtidos a partir deste Site. Além disso, você concorda em não: </p>

    <ul>
      <li>
        (i) usar este Site ou seus conteúdos para qualquer finalidade comercial;
      </li>
      <li>
        (ii) fazer qualquer reserva especulativa, falsa ou fraudulenta ou qualquer reserva em antecipação à demanda;
      </li>
      <li>
        (iii) acessar, monitorar ou copiar qualquer conteúdo ou informação deste Site usando robôs ou meios automatizados ou qualquer processo manual para qualquer finalidade sem nossa permissão expressa por escrito;
      </li>
      <li>
        (iv) violar as restrições em qualquer cabeçalho de exclusão de robôs neste Site ou ignorar ou contornar outras medidas empregadas para prevenir ou limitar o acesso a este Site;
      </li>
      <li>
        (v) tomar qualquer ação que imponha, ou possa impor, a nosso critério, uma carga não razoável ou desproporcionalmente grande em nossa infraestrutura;
      </li>
      <li>
        (vi) utilizar deep-link para qualquer parte deste Site (incluindo, sem limitação, o caminho de compra para qualquer serviço), para qualquer finalidade sem nossa permissão expressa por escrito; ou
      </li>
      <li>
        (vii) enquadrar, espelhar ou incorporar qualquer parte deste Site em qualquer outro site sem a nossa autorização prévia por escrito.
      </li>
    </ul>

    <h3>Como funciona o site</h3>

    <p>O Site pode ser usado para facilitar a listagem e a Reserva de Produtos e Serviços. Esses produtos e serviços estão incluídos em listagens no site por provedores. Você pode visualizar as Listagens como um visitante não registrado no Site.</p>

    <p>Conforme indicado acima, o TourControle disponibiliza uma plataforma on-line para que Convidados e Provedores arranjem reservas de produtos e serviços. O TourControle não é proprietário ou operador de imóveis de aluguel, incluindo, mas não limitado a, barcos e equipamentos, nem é um provedor de atividades, aulas ou passeios, e TourControle não possui, vende, revende, fornece, aluga, re-aluga, gerencia e/ou controla produtos e serviços, incluindo, mas não limitado a barcos ou equipamentos ou transporte ou serviços de viagem. As responsabilidades do TourControle são limitadas a: (i) facilitar a disponibilidade do Site e (ii) servir como agente limitado de cada Provedor com a finalidade de aceitar os pagamentos dos Convidados em nome do Provedor.</p>

    <p>POR FAVOR, NOTE QUE, COMO ESTÁ INDICADO ACIMA, O PROPÓSITO DO SITE É SER UTILIZADO PARA FACILITAR A RESERVA DE PRODUTOS E SERVIÇOS. O TourControle NÃO PODE E NÃO CONTROLA O CONTEÚDO CONTIDO EM QUALQUER LISTAGEM, ASSIM COMO A CONDIÇÃO, LEGALIDADE OU ADEQUAÇÃO DE QUALQUER PRODUTO E SERVIÇO. O TourControle NÃO É RESPONSÁVEL POR NENHUMA DAS LISTAS E PRODUTOS E SERVIÇOS, E REITERA SUA TOTAL DESRESPONSABILIDADE EM ASSUNTOS DO TIPO. DE ACORDO, QUAISQUER RESERVAS SERÃO FEITAS NO PRÓPRIO RISCO DO CLIENTE.</p>

    <h3>REGISTRO DE CONTA</h3>

    <p>Para acessar determinados recursos do Site e criar uma Lista, você deve se registrar para criar uma conta (TourControle Account) e se tornar um Membro. Você pode se registrar para se juntar aos Serviços diretamente através do Site.</p>

    <p>Vamos criar sua Conta TourControle e sua página de perfil da Conta TourControle para seu uso do Site com base nas informações pessoais que você nos forneceu. Você não pode ter mais de uma (1) conta TourControle ativa para cada negócio exclusivo. Você concorda em fornecer informações precisas, atualizadas e completas durante o processo de registro e atualizar essas informações para mantê-la precisa, atual e completa. O TourControle reserva-se o direito de suspender ou encerrar sua Conta TourControle e seu acesso ao Site se qualquer informação fornecida durante o processo de registro ou, posteriormente, revelar-se imprecisa, não atual ou incompleta. Você é responsável por proteger sua senha. Você concorda que não divulgará sua senha a terceiros e que assumirá a responsabilidade exclusiva de quaisquer atividades ou ações em sua Conta TourControle, independentemente de você ter autorizado tais atividades ou ações. Você notificará imediatamente o TourControle de qualquer uso não autorizado da sua Conta TourControle.</p>

    <h3>LISTAGENS DE PRODUTOS E SERVIÇOS</h3>

    <p>O Fornecedor,  pode criar Listagens. O TourControle usará de todos os esforços para selecionar Fornecedores de conduta adequada para firmar suas parcerias. Contudo, não se responsabiliza por condutas de má-fé dos memos. Para este fim, você terá uma série de perguntas sobre os Produto e Serviços a serem listados, incluindo, entre outros, a localização, a capacidade, os recursos, a disponibilidade do Produto e Serviço e os preços e regras e termos financeiros relacionados. As listas serão disponibilizadas publicamente através do Site. Outros usuários poderão reservar e encomendar o seu Produto e / ou Serviço através do Site com base nas informações fornecidas em sua Listagem. Você entende e concorda que, uma vez que um comprador solicita uma reserva de seu produto e serviço, o preço dessa reserva não pode ser alterado.</p>

    <p>Você reconhece e concorda que você é responsável por todas e quaisquer listas que você postar. Consequentemente, você garante que qualquer listagem que você postar e a Reserva de um Produto e Serviço em uma Listagem que você postar (i) não violará quaisquer acordos celebrados com terceiros e (ii) estará em conformidade com todas as leis aplicáveis, requisitos fiscais e regras e regulamentos que podem ser aplicados a qualquer produto e serviço incluído em uma listagem que você publica, incluindo, mas não limitado a, leis de zoneamento e leis que regem propriedades e classes e atividades e (b) não entra em conflito com os direitos de terceiros. Por favor, note que o TourControle não assume qualquer responsabilidade pela conformidade de um Provedor com as leis, regras e regulamentos aplicáveis. O TourControle reserva-se o direito, a qualquer momento e sem aviso prévio, de remover ou desativar o acesso a qualquer Lista por qualquer motivo, incluindo listas que o TourControle, a seu exclusivo critério, considere ser censurável por qualquer motivo, em violação destes Termos ou, de outra forma prejudicial ao Site.</p>

    <p>Você entende e concorda que o TourControle não atua como seguradora ou como agente contratante para você como Fornecedor. Se um comprador solicita uma reserva de seu produto e serviço e usa seu produto e serviço, qualquer acordo que você fizer com o comprador será entre você e o respectivo comprador, o TourControle não é parte dele. Não obstante o que precede, o TourControle serve como agente autorizado limitado do Provedor para aceitar pagamentos de Convidados em nome do Provedor e é responsável por transmitir esses pagamentos ao Provedor.</p>

    <p>Quando você cria um Listado, você também pode optar por incluir certos requisitos que devem ser atendidos pelos Membros que são elegíveis para solicitar uma Reserva de seu Produto e Serviço, incluindo, mas não limitado a, exigir que os Membros tenham certas qualificações ou certificações, para reservar seu produto e serviço. Qualquer Membro que deseje reservar um Produto e Serviço incluído nas Listas com tais requisitos deve atender a esses requisitos. Mais informações sobre como definir esses requisitos estão disponíveis através da seção de provedor do Site.</p>

    <p>Assim, sendo postadas as Listagens pelos Fornecedores, os Compradores poderão consumir o Produto e Serviço contratado imediatamente (ou seja, não há qualquer tipo de validação). No entanto, durante o processo de compra e venda, os Convidados deverão cumprir todos os requisitos especificados pelos Fornecedores no momento da compra. Você reconhece e concorda que, como Provedor, você é responsável por seus próprios atos e omissões e também é responsável pelos atos e omissões de qualquer pessoa que esteja presente no Produto e Serviço a seu pedido ou convite, excluindo O Convidado (e os indivíduos que o Convidado convida para o Produto e Serviço, se aplicável).</p>

    <p>O TourControle recomenda que os Fornecedores obtenham seguro apropriado para o Produto e Serviço. Por favor, reveja todas as apólices de seguro que você possa ter para o seu Produto e Serviço com atenção. Confira se a apólice de seguro irá abranger ou não as ações dos compradores (e os indivíduos compradores para o Produto e Serviço, se aplicável) enquanto estiver usando o Produto e Serviço.</p>

    <h3>SEM ENDOSSO</h3>

    <p>O TourControle não endossa nenhum Membro ou qualquer Produto e Serviço. Além disso, embora esses Termos exigem que os Membros forneçam informações precisas, não tentamos confirmar e não confirmar a identidade de qualquer Membro. Você é responsável por determinar a identidade e adequação de outros que você contata através do Site. O TourControle não será responsável por danos ou danos resultantes das suas interações com outros Membros.</p>

    <p>Ao usar o Site, você concorda que qualquer remédio legal ou responsabilização que você procura encontrar por ações ou omissões, de outros Membros ou outros terceiros, será limitado a uma reclamação contra Membros específicos ou outros terceiros que causaram os danos. Você concorda em não tentar impor responsabilização da TourControle com respeito a tais ações ou omissões. Esta limitação não se aplica a qualquer reclamação de um Provedor contra o TourControle em relação à remessa de pagamentos recebidos de um Convidado pela TourControle em nome de um Provedor, que em vez disso estará sujeito às limitações descritas na seção abaixo intitulada Limitação de Responsabilidade.</p>

    <h3>RESERVAS E TERMOS FINANCEIROS</h3>

    <h4>Reservas e Termos Financeiros para Provedores</h4>

    <p>Se você é um Provedor e uma Reserva é solicitada para o seu Produto e Serviço através do Site, você será obrigado a honrar a Reserva após a compra. Um evento com uma hora e data associadas ficará indisponível para compra dentro de duas horas após a data de caducidade da reserva. (Conforme determinado pelo TourControle a seu exclusivo critério). Quando uma Reserva é solicitada por um Convidado, o TourControle irá enviar-lhe um e-mail, mensagem de texto ou mensagem confirmando tal Reserva, dependendo das seleções que você fizer através do Site.</p>

    <p>Os valores apresentados em cada Lista são compostas pelas Taxas e pelo valor arrecadado pelo Fornecedor. Quando aplicável, os Impostos podem ser cobrados além das Taxas de Produtos e Serviços e Taxas de Convidado. </p>

    <p>O TourControle cobra uma taxa aos hóspedes com base em uma porcentagem das taxas de produtos e serviços aplicáveis ​​que são as taxas de comprador. As Taxas de Convidado são adicionadas às Taxas de Produto e Serviço para calcular as Taxas totais (que também incluirão Impostos aplicáveis) exibidos na Listagem aplicável. O TourControle irá cobrar as Taxas totais no momento da confirmação da reserva (ou seja, quando o Provedor confirmar a Reserva dentro das 24 horas do Pedido de Reserva) e iniciará o pagamento das Taxas de Produto e Serviço (menos as Taxas do Provedor do TourControle (definido abaixo) Fornecedor no prazo de 24 horas após o Usuário usar o Produto e o Serviço (exceto na medida em que um reembolso seja devido ao Convidado).</p>

    <h4>Nomeação do TourControle como agente de pagamento para o provedor</h4>

    <p>Cada Provedor nomeia o TourControle como agente limitado do Provedor unicamente com o objetivo de cobrar os pagamentos efetuados pelos Convidados em nome do Provedor. Cada Fornecedor concorda que o pagamento feito por um Convidado para TourControle deve ser considerado o mesmo que um pagamento feito diretamente ao Provedor e o Provedor disponibilizará o Produto e o Serviço ao Convidado na forma acordada como se o Fornecedor recebesse o Produto e Taxas de serviço. Cada Fornecedor concorda que o TourControle pode, de acordo com a política de cancelamento selecionada pelo Provedor e refletida na Listagem relevante, (i) permitir que o Convidado cancele a Reserva e (ii) reembolsar ao Visitante a parte do Produto e Serviço Taxas especificadas na política de cancelamento aplicável. Ao aceitar a nomeação como agente autorizado limitado do Provedor, o TourControle não assume qualquer responsabilidade por quaisquer atos ou omissões do Provedor.</p>

    <p>Por favor, note que o TourControle atualmente não cobra taxas pela criação de listagens. No entanto, você reconhece e concorda que a TourControle reserva-se o direito, a seu exclusivo critério, de cobrar e cobrar taxas de você pela criação de Inscrições. Por favor, note que o TourControle fornecerá aviso prévio sobre alterações de tarifas com pré-aviso através do Site ou através de comunicação direta, como e-mail.</p>

    <h4>Reservas e termos financeiros para compradores</h4>

    <p>Os Fornecedores, e não o TourControle, são os únicos responsáveis ​​por honrar quaisquer Reservas confirmadas e disponibilizar qualquer Produto e Serviços reservados pelo Site. Se você, como comprador, optar por realizar uma transação com um Provedor para a Reserva de um Produto e Serviço, você concorda e entende que você será obrigado a celebrar um acordo com o Provedor e você concorda em aceitar quaisquer termos, Condições, regras e restrições associadas a tais Produtos e Serviços impostos pelo Provedor. Você reconhece e concorda que você, e não o TourControle, será responsável por cumprir as obrigações de tais acordos, que o TourControle não é parte em tais acordos e que, com exceção de suas obrigações de pagamento especificadas abaixo, o TourControle renuncia a qualquer responsabilidade decorrente ou relacionada a tais acordos. Você reconhece e concorda que, apesar de o TourControle não ser parte do acordo entre você e o Provedor, o TourControle atua como o agente de pagamento do Provedor com o objetivo limitado de aceitar pagamentos de você em nome do Provedor. Após o pagamento ao TourControle dos montantes devidos ao Provedor, sua obrigação de pagamento desses montantes para o Fornecedor é extinta. O TourControle é responsável por enviar ao Fornecedor esses montantes, deduzidas as Taxas do do  TourControle e do veículo de pagamento (ex. Empresa Parceira de Pagamentos da TourControle). No caso de o TourControle não remeter tais valores para um Provedor, esse Provedor recorrerá apenas contra o TourControle.</p>

    <p>As listas de produtos e serviços especificam os valores totais. Se uma reserva solicitada for cancelada, qualquer montante arrecadado pelo TourControle será reembolsado ao Convidado. No entanto, esse reembolso dependerá das seleções feitas pelo Visitante através do Site. E qualquer pré-autorização do cartão de crédito desse hóspede será divulgada, se aplicável.</p>

    <p>Você concorda em pagar o TourControle através Taxas totais por qualquer reserva solicitada. Para estabelecer uma reserva pendente de confirmação, você entende e concorda que o TourControle, em nome do Provedor, se reserva o direito, a seu exclusivo critério, de (i) obter uma pré-autorização via seu cartão de crédito para o pagamento das Taxas totais ou (ii) cobrar no seu cartão de crédito, para verificação do mesmo, um valor nominal, que não pode exceder um real ($ 1) ou uma quantia similar na moeda em que você está negociando (por exemplo, um euro ou uma libra esterlina). Uma vez recebida a confirmação da sua Reserva do Fornecedor aplicável, o TourControle irá cobrar as Taxas totais de acordo com os termos e condições estabelecidos nestes Termos e os termos de preços estabelecidos na Listagem aplicável. Por favor, note que o TourControle não pode controlar quaisquer taxas que possam ser cobradas a um hóspede pelo seu banco, referentes à cobrança das Taxas totais ao TourControle, e o TourControle renuncia toda a responsabilidade a este respeito.</p>

    <p>Em relação a sua Reserva solicitada, você deverá fornecer informações usuais de cobrança, como nome, endereço de cobrança e informações do cartão de crédito, quer para o TourControle ou para seu processador de pagamento de terceiros. Você concorda em pagar ao TourControle quaisquer Reservas confirmadas de acordo com estes Termos pelos métodos descritos no Site - por exemplo, Empresa Parceira de Pagamentos da TourControle ou cartão de crédito. Você autoriza a cobrança de tais valores no cartão de crédito fornecido como parte da solicitação da Reserva. Essa cobrança será feita diretamente pelo TourControle ou indiretamente, através de um processador de pagamento em linha de terceiros ou por um dos métodos de pagamento descritos no Site. Você também autoriza o TourControle a efetuar cobrança no seu cartão de crédito em caso de danos causados ​​em um Produto e Serviço (conforme contemplado em Danos aos Produtos e Serviços abaixo) e para Depósitos de Segurança, se aplicável. Se você é direcionado ao processador de pagamento de terceiros do TourControle, você pode estar sujeito aos termos e condições que regem o uso do serviço desse terceiro e as práticas de coleta de informações pessoais de terceiros. Por favor, reveja os termos e condições, e a política de privacidade antes de usar os serviços. Havendo completude da transação referente à Reserva confirmada, você receberá um e-mail de confirmação resumindo a sua Reserva confirmada.</p>

    <h3>TAXAS DE SERVIÇO</h3>

    <p>Na hora da listagem haverá uma ferramenta de cálculo que determina as Taxas destinadas ao TourControle (5%) e ao Empresa Parceira de Pagamentos da TourControle a partir do valor que o Fornecedor deseja cobrar ou receber. Essas taxas são fixas e  determinadas no momento da listagem, não existindo taxas adicionais. Essas mesmas taxas são descontadas do valor pago pelo Comprador e valor com os descontos é o valor destinado ao fornecedor. Desse modo, o valor que o comprador tem acesso é o valor integral já com as taxas.</p>

    <p>Os saldos serão remetidos pelo TourControle para provedores via cheque, Empresa Parceira de Pagamentos da TourControle, depósito direto ou outros métodos de pagamento descritos no Site, na moeda de escolha do Provedor, de acordo com as seleções feitas pelo Provedor através do Site. Por favor, note que, para qualquer pagamento pelo TourControle em moedas diferentes do Real (BRL), o TourControle pode deduzir desses pagamentos os custos de processamento de moeda estrangeira. Mais informações sobre deduções de custo de processamento em moeda estrangeira estarão disponíveis através do Site. Salvo disposição em contrário, as taxas de serviço não são reembolsáveis.</p>

    <h3>CONDIÇÕES GERAIS DE RESERVAS E TERMOS FINANCEIROS</h3>

    <h4>Cancelamentos e Reembolsos</h4>

    <p>Se, como comprador, você cancelar sua Reserva solicitada antes de ser confirmada por um Fornecedor, e dentro do período de reflexão de 7 (sete) dias corridos, a contar da data do recebimento do produto ou assinatura do contrato, para desistência, estabelecido pelo artigo 49 do Código de Defesa do Consumidor. O TourControle reembolsará ao seu cartão de crédito quaisquer valores nominais cobrados no seu cartão de crédito em conexão com a Reserva solicitada. Isso será feito dentro de um prazo de cancelamento que seja comercialmente razoável. Essa é a única hipótese em que o reembolso é feito pelo Site.</p>

    <p>Caso após o período de confirmação pelo Fornecedor ou período de reflexão ocorra algum problema com a reserva ou com o fornecimento do serviço/produto o reembolso será feito diretamente pelo Fornecedor.</p>

    <p>O TourControle não se responsabiliza por atos dos Fornecedores que impossibilitam que o Comprador usufrua do que foi adquirido. Caso isso ocorra, reembolso e medidas cabíveis devem ser tratadas diretamente com o Fornecedor. O Site reitera que sua atuação limita-se ao fornecimento de uma ferramenta para efetuar reservas online. Não tem nenhum envolvimento ou poder em relação à execução dos serviços oferecidos pelos Fornecedores.</p>

    <h4>Pagamentos recorrentes</h4>

    <p>Em alguns casos, os Convidados podem ser obrigados a fazer pagamentos recorrentes e incrementais em relação às Taxas totais devidas para uma Reserva confirmada antes de iniciar sua Reserva do Produto e Serviço aplicável (coletivamente, Pagamentos Recorrentes). Mais informações sobre Pagamentos Recorrentes serão disponibilizadas através do Site, se aplicável. Se os Pagamentos Recorrentes se aplicarem às suas obrigações de pagamento por Taxas totais devidas por uma Reserva confirmada, você autoriza o TourControle, em nome do Provedor, a cobrar as Taxas totais no que seja relativo aos incrementos e à frequência associada aos Pagamentos Recorrentes aplicáveis, identificados no Site.</p>

    <h4>Tributos</h4>

    <p>Você entende e concorda que você é o único responsável por determinar seus requisitos de relatórios fiscais aplicáveis. O TourControle não pode e nem oferece conselhos relacionados a impostos a qualquer Membro do Site. Além disso, note que cada Provedor é responsável por determinar os Impostos indiretos locais e por incluir quaisquer Impostos aplicáveis ​​a serem cobrados, ou obrigações relacionadas aos Impostos aplicáveis listados nas Listagens. Quando aplicável, ou com base no pedido de um Provedor, o TourControle pode emitir uma fatura de IVA válida para este Provedor.</p>

    <h4>Moeda estrangeira</h4>

    <p>Como parte dos Serviços, o TourControle fornece um recurso por meio do qual os Membros podem visualizar as Taxas totais para as várias Listagens em moedas estrangeiras. Você entende e concorda que essas visualizações das Taxas totais são apenas para fins informativos e não são as Taxas totais oficiais para as Listagens. Se você (como Convidado) solicitar uma Reserva, você será notificado sobre a moeda na qual você será cobrado em conjunto com a quantia correspondente às Taxas totais. A moeda em que você será cobrado será determinada pelo TourControle com base no método de pagamento que você selecionar e na localização do Produto e Serviço na Listagem que você está reservando. Se a moeda em que você será cobrado for diferente da moeda escolhida pelo Provedor para receber o pagamento, o TourControle será responsável pelo processo de conversão da moeda exigido, incluindo os referidos custos, que serão calculados com base na taxa de câmbio mais atual aplicável que o TourControle tenha carregado no Site a partir da data e hora em que sua Reserva foi confirmada (a Taxa de Câmbio Aplicável). Você reconhece que a Taxa de Câmbio Aplicável utilizada para o processo de conversão de moeda não pode ser idêntica à taxa de mercado aplicável em vigor no momento específico no qual esse processo ocorra porque: (i) embora o TourControle atualize a Taxa de Câmbio Aplicável em uma base regular, ele não atualiza essa taxa em tempo real; e (ii) a Taxa de Câmbio Aplicável pode incluir um custo ou margem incremental que não está incluído na taxa de mercado aplicável. Para evitar qualquer dúvida, o TourControle irá reter quaisquer lucros (e suportará quaisquer perdas) decorrentes desse processo de conversão da moeda devido a mudanças na taxa de câmbio aplicável entre a data na qual a sua Reserva for confirmada e a data na qual o TourControle efetuar o pagamento a um Provedor.</p>

    <h3>CONDUTA DO USUÁRIO</h3>

    <p>Você entende e concorda que você é o único responsável pelo cumprimento de todas e quaisquer leis, regras, regulamentos e obrigações fiscais que possam se aplicar ao uso do Site e Conteúdo. Em relação ao seu uso do nosso Site, você não pode e você concorda que não irá:</p>

    <ul>
      <li>
        - Violar qualquer lei ou regulamento local, estadual, provincial ou nacional, ou qualquer ordem de um tribunal, incluindo restrições de zoneamento e regulamentos tributários;
      </li>
      <li>
        - Usar software ou dispositivos automatizados, dispositivos, scripts, outros meios ou processos para acessar, raspar, rastejar ou aranha quaisquer páginas da Web ou outros serviços contidos no Site ou Conteúdo;
      </li>
      <li>
        - Usar o Site para quaisquer fins comerciais ou outros que não sejam expressamente permitidos por estes Termos;
      </li>
      <li>
        - Copiar, armazenar ou de qualquer outra forma acessar qualquer informação contida no Site ou Conteúdo para fins não permitidos expressamente por estes Termos;
      </li>
      <li>
        - Infringir os direitos de qualquer pessoa ou entidade, incluindo a sua propriedade intelectual, privacidade, publicidade ou direitos contratuais;
      </li>
      <li>
        - Interferir ou danificar o nosso Site, por meio do uso de vírus, cancelamento de bots, cavalos de Tróia, código prejudicial, pings de inundação, ataques de negação de serviço, falsificação de pacotes ou IP, roteamento forjado ou informações de endereço de correio eletrônico ou métodos ou tecnologia semelhantes;
      </li>
      <li>
        - Usar o nosso Site para transmitir, distribuir, publicar ou enviar qualquer informação relativa a qualquer outra pessoa ou entidade, incluindo fotografias de terceiros sem sua permissão, informações pessoais de contato ou crédito, débito, cartão de visita ou números de conta;
      </li>
      <li>
        - Usar o nosso Site em conexão com a distribuição de e-mails comerciais não solicitados (spam) ou anúncios não relacionados ao site;
      </li>
      <li>
        - "Stalkear" ou assediar qualquer outro usuário do nosso site, ou coletar ou armazenar qualquer informação de identificação pessoal sobre qualquer outro usuário que não seja para fins de transação como visitante ou provedor TourControle;
      </li>
      <li>
        - Oferecer, como provedor, qualquer produto e serviço que você não possua ou tenha permissão para alugar como uma propriedade residencial ou outra;
      </li>
      <li>
        - Sem limitar o anterior, você não listará o Produto e Serviço como Fornecedor se você estiver servindo na capacidade de um agente de aluguel ou agente de listagem para um terceiro;
      </li>
      <li>
        - Oferecer, como provedor, qualquer produto e serviço que não possa ser alugado ou subarrendado de acordo com os termos e condições de um contrato com um terceiro, incluindo, mas não limitado a, um contrato de locação de imóvel;
      </li>
      <li>
        - Entrar em contato com um Provedor para qualquer outra finalidade que não seja fazer uma pergunta relacionada a uma Reserva ou produtos, serviços e Listagens do Provedor;
      </li>
      <li>
        - Entrar em contato com um comprador para qualquer propósito que não seja fazer uma pergunta relacionada a uma reserva ou o uso desse comprador pelo visitante;
      </li>
      <li>
        - Ao atuar no site, especialmente como comprador, recrutar ou solicitar ,de qualquer provedor ou outro membro,  que se junte a  serviços de terceiros ou sites que sejam competitivos para o TourControle, sem a aprovação prévia por escrito da TourControle;
      </li>
      <li>
        - Personificar qualquer pessoa ou entidade, falsificar ou de outra forma deturpar você ou sua afiliação com qualquer pessoa ou entidade;
      </li>
      <li>
        - Usar scripts automatizados para coletar informações ou interagir com o Site;
      </li>
      <li>
        - Usar o Site para encontrar um Provedor ou comprador e, em seguida, completar uma Reserva de uma operação de Produto e Serviço independente do Site para contornar a obrigação de pagar as Taxas de Serviço relacionadas à provisão dos Serviços da TourControle;
      </li>
      <li>
        - Como um Fornecedor, enviar qualquer Listagem com informações de preços falsas ou enganosas ou com um preço que você não pretende honrar;
      </li>
      <li>
        - Não irá postar, carregar, publicar, enviar ou transmitir qualquer Conteúdo que: (i) infrinja, desvie ou viole a patente, direitos autorais, marcas registradas, segredos comerciais, direitos morais ou outros direitos de propriedade intelectual, direitos de publicidade ou privacidade de um terceiro; (Ii) viole ou encoraje qualquer conduta que viole qualquer lei ou regulamento aplicável ou dê origem a responsabilidade civil; (Iii) é fraudulento, falso, enganador ou enganoso; (Iv) é difamatório, obsceno, pornográfico, vulgar ou ofensivo; (V) promove discriminação, fanatismo, racismo, ódio, assédio ou dano contra qualquer indivíduo ou grupo; (Vi) é violento ou ameaça ou promove violência ou que ameaçam qualquer outra pessoa;  (vii) promove atividades ou substâncias ilegais ou prejudiciais;
      </li>
      <li>
        - Recuperar sistematicamente dados ou outros conteúdos do nosso Site para criar ou compilar, direta ou indiretamente, em downloads únicos ou múltiplos, uma coleção, compilação, banco de dados ou diretório ou similar, seja por métodos manuais, por meio de bots, rastreadores ou Aranhas de rede ou de outra forma;
      </li>
      <li>
        - Usar, exibir, espelhar ou enquadrar: o Site qualquer elemento individual dentro do Site, o nome do TourControle, qualquer marca registrada do TourControle, logotipo ou outra informação de propriedade, ou o layout e design de qualquer página ou formulário contido em uma página, sem o expresso consentimento escrito do TourControle;
      </li>
      <li>
        - Acessar, manipular ou usar áreas não públicas do Site, os sistemas informáticos do TourControle ou os sistemas de entrega técnica dos provedores do TourControle;
      </li>
      <li>
        - Tentar escancear ou testar a vulnerabilidade de qualquer sistema ou rede do TourControle ou violar quaisquer medidas de segurança ou de autenticação;
      </li>
      <li>
        - Evitar, ignorar, remover, desativar, desvendar, descodificar ou contrariar qualquer medida tecnológica implementada pelo TourControle, qualquer um dos provedores do TourControle ou qualquer outro terceiro (incluindo outro usuário) para proteger o Site ou o Conteúdo Coletivo
      </li>
      <li>
        - Forjar qualquer cabeçalho de pacote TCP / IP ou qualquer parte das informações do cabeçalho em qualquer publicação de e-mail ou noticiário ou, de qualquer forma, usar o Site ou o Conteúdo Coletivo para enviar informações de identificação de origem alteradas, enganosas ou falsas;
      </li>
      <li>
        - Tentar decifrar, decompilar, desmontar ou engenharia reversa de qualquer software usado para fornecer o Site ou o Conteúdo Coletivo
      </li>
      <li>
        -Advogar, encorajar ou auxiliar qualquer terceiro em fazer qualquer um dos anteriores.
      </li>
    </ul>

    <p>O TourControle terá o direito de investigar e processar violações de qualquer item dos acima mencionados na extensão máxima da lei. O TourControle pode envolver e cooperar com as autoridades responsáveis ​​pela aplicação da lei para perseguir os usuários que violam estes Termos. Você reconhece que o TourControle não tem obrigação de monitorar seu acesso ou uso do Site ou do Conteúdo Coletivo ou para revisar ou editar qualquer Conteúdo de Membro, mas tem o direito de fazê-lo com a finalidade de operar o Site, para garantir sua conformidade com estes Termos, ou para cumprir com a lei aplicável ou o pedido ou requisito de um tribunal, agência administrativa ou outro órgão governamental. O TourControle reserva-se o direito, a qualquer momento, e sem aviso prévio, de remover ou desativar o acesso a qualquer Conteúdo Coletivo que o TourControle, a seu exclusivo critério, considere ser censurável por qualquer motivo, em violação destes Termos ou de outra forma prejudicial ao Site.</p>

    <h3>RENÚNCIA DE RESPONSABILIDADE</h3>

    <p>A INFORMAÇÃO, SOFTWARE, PRODUTOS E SERVIÇOS PUBLICADOS NESTE SITE PODEM INCLUIR INCORREÇÕES OU ERROS, INCLUINDO ERROS DE PREÇOS. EM PARTICULAR, AS EMPRESAS do TourControle e as AFILIADAS do TourControle NÃO GARANTEM A PRECISÃO E SE ISENTAM DE TODA A RESPONSABILIDADE POR QUALQUER ERRO OU SIMILAR RELATIVAS À INFORMAÇÃO E DESCRIÇÃO DOS PRODUTOS E SERVIÇOS INDICADOS NESTE SITE (INCLUINDO, MAS NÃO LIMITANDO, O PREÇO, FOTOGRAFIAS, LISTA DE SERVIÇOS DE PRODUTOS E SERVIÇOS, DESCRIÇÕES GERAIS DOS PRODUTOS, ETC.). ADICIONALMENTE, TourControle, INC. RESERVA EXPRESSAMENTE O DIREITO DE CORRIGIR QUALQUER ERRO DE PREÇO EM NOSSO SITE E / OU EM RESERVAS PENDENTES FEITAS SOB PREÇO INCORRETO. NESTE EVENTO, SE FOR DISPONÍVEL, NÓS OFERECEMOS A OPORTUNIDADE DE MANTER SUA RESERVA PENDENTE NO PREÇO CORRETO OU NÓS CANCELAREMOS SUA RESERVA SEM PENALIDADE.</p>

    <p>CLASSIFICAÇÕES EXIBIDAS NESTE SITE ESTÃO DESTINADAS COMO SOMENTE ORIENTAÇÕES GERAIS, E AS EMPRESAS TourControle E AS AFILIADAS TourControle NÃO GARANTEM A PRECISÃO DAS CLASSIFICAÇÕES. AS EMPRESAS do TourControle, AS AFILIADAS do TourControle E OS SEUS FORNECEDORES INDEPENDENTES NÃO GARANTEM SOBRE A DISPONIBILIDADE DE PRODUTOS E SERVIÇOS ESPECÍFICOS. AS EMPRESAS do TourControle, as AFILIADAS do TourControle e os seus fornecedores independentes podem fazer melhorias e / ou alterações nesse local em qualquer altura.</p>

    <p>AS EMPRESAS do TourControle, as AFILIADAS do TourControle e os seus fornecedores independentes NÃO REALIZAM DECLARAÇÕES SOBRE A ADEQUAÇÃO DAS INFORMAÇÕES, SOFTWARE, PRODUTOS E SERVIÇOS CONTIDOS NESTE SITE PARA QUALQUER FINALIDADE, E A INCLUSÃO OU OFERTA DE QUALQUER PRODUTO OU SERVIÇO NESTE SITE NÃO CONSTITUIRÁ QUALQUER ENVIESAMENTO OU RECOMENDAÇÃO DE TAIS PRODUTOS OU SERVIÇOS PELAS COMPANHIAS TourControle OU AFILIADOS DO TourControle. TODAS AS INFORMAÇÕES, SOFTWARE, PRODUTOS E SERVIÇOS SÃO FORNECIDOS "NO ESTADO EM QUE SE ENCONTRAM" SEM GARANTIA DE QUALQUER TIPO. AS EMPRESAS do TourControle, as AFILIADAS do TOURCONTROLE E SEUS RESPECTIVOS FORNECEDORES REJEITAM TODAS AS GARANTIAS E CONDIÇÕES DE QUE ESTE SITE, SEUS FORNECEDORES OU QUALQUER MEIO DE ENVIO UTILIZADO PELAS EMPRESAS DA TourControle OU SUA AFILIADAS E FORNECEDORES INDEPENDENTES ESTÃO LIVRES DE VÍRUS OU OUTROS COMPONENTES INADEQUADOS. AS EMPRESAS do TourControle, AS AFILIADAS DO TourControle E OS SEUS FORNECEDORES INDEPENDENTES, RENUNCIAM TODAS AS GARANTIAS E CONDIÇÕES RELATIVAS A ESTA INFORMAÇÃO, SOFTWARE, PRODUTOS E SERVIÇOS, INCLUINDO TODAS AS GARANTIAS IMPLÍCITAS E CONDIÇÕES DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UM DETERMINADO PROPÓSITO, TÍTULO E NÃO VIOLAÇÃO.</p>

    <p>OS FORNECEDORES QUE FORNECEM PRODUTOS E SERVIÇOS NESTE SITE SÃO CONTRATANTES INDEPENDENTES E NÃO AGENTES, EMPREGADOS OU AFILIADOS  DAS COMPANHIAS TourControle OU DO TourControle. NÃO SÃO RESPONSÁVEIS POR ATIVOS, ERROS, OMISSÕES, REPRESENTAÇÕES, GARANTIAS, VIOLÊNCIAS OU NEGLIGÊNCIA DE QUAISQUER FORNECEDORES, OU POR DANOS PESSOAIS, MORTE, DANOS DE PROPRIEDADE, OUTROS DANOS OU DESPESAS RESULTANTES DE ISSO. AS EMPRESAS DO TourControle E AS AFILIADAS DO TourControle NÃO TÊM RESPONSABILIDADE E NÃO HÁ REEMBOLSO NO EVENTO DE QUALQUER ATRASO, CANCELAMENTO, RECUPERAÇÃO, GRAU, FORÇA MAIOR OU OUTRAS CAUSAS ALÉM DO CONTROLE DIRETO, E NÃO TÊM RESPONSABILIDADE POR QUAISQUER DESPESAS ADICIONAIS, OMISSÕES, ATRASOS OU ATOS DE QUALQUER GOVERNO OU AUTORIDADE.</p>

    <p>M NENHUMA CIRCUNST NCIA, AS EMPRESAS do TourControle, as AFILIADAS do TourControle e / ou os seus fornecedores independentes serão responsabilizados por qualquer dano direto, indireto, púnico, incitativo, especial ou indireto, decorrente da, ou de qualquer maneira conectada ao seu acesso, visualização do site com incapacidade para acessar, ou indicação do site (INCLUINDO, MAS NÃO SE LIMITANDO A, SUA CONFIANÇA SOBRE OPINIÕES QUE APARECEM NESTE SITE, QUALQUER VÍRUS DE COMPUTADORES, INFORMAÇÕES, SOFTWARE, SITES LIGADOS, PRODUTOS , E OS SERVIÇOS OBTIDOS ATRAVÉS DESTE SITE, OU DE OUTRA FORMA DECORRENTES DO ACESSO, VISÃO OU UTILIZAÇÃO DESTE SITE) SEJA BASEADO EM UMA HIPÓTESE DE NEGLIGÊNCIA, CONTRATO, DANO, RESPONSABILIDADE ESTRITA OU DE OUTRA FORMA, E MESMO SE AS EMPRESAS do TourControle, As AFILIADAS do TourControle e / ou os seus fornecedores independentes tiveram conhecimento da possibilidade de tais danos.</p>

    <p>Se, apesar da limitação acima, as Empresas TourControle, as Afiliadas do TourControle ou seus respectivos fornecedores são consideradas responsáveis ​​por qualquer perda ou dano decorrente ou de qualquer forma relacionado a qualquer das ocorrências descritas acima, então a responsabilidade das Empresas TourControle , dos Afiliados do TourControle e / ou dos seus respectivos fornecedores nunca excederão, no total, o maior de (a) as taxas de serviço que você pagou ao TourControle Ltda. em conexão com essa (s) transação (s) neste SITE, ou (B) Cem dólares (US $ 100,00) ou equivalente em moeda local.</p>

    <p>A limitação de responsabilidade reflete a alocação de risco entre as partes. As limitações especificadas nesta seção sobreviverão e serão aplicadas mesmo que qualquer remédio limitado especificado nestes termos tenha falhado em sua finalidade essencial. As limitações de responsabilidade previstas nestes termos em benefício do TourControle Companhias, do TourControle Afiliados e / ou dos respectivos fornecedores.</p>

    <h3>INDENIZAÇÃO</h3>

    <p>Você concorda em defender e indenizar as empresas TourControle, as Afiliadas do TourControle e / ou seus respectivos fornecedores e qualquer um dos seus diretores, funcionários e agentes de e contra quaisquer reclamações, causas de ação, demandas, recuperações, perdas, danos, multas , penalidades ou outros custos ou despesas de qualquer natureza, incluindo, mas não limitado a, honorários legais e contábeis razoáveis, trazidos por terceiros como resultado de:</p>

    <ul>
      <li>
        (A) sua violação deste Contrato ou dos documentos aqui mencionados;
      </li>
      <li>
        (B) sua violação de qualquer lei ou os direitos de um terceiro; Ou
      </li>
      <li>
        (C) o uso deste SITE.
      </li>
    </ul>

    <h3>TAXAS DE CARTÃO DE BANCO E CRÉDITO</h3>

    <p>Alguns bancos e cartões de crédito importam taxas para transações internacionais. Se você está fazendo uma reserva de fora dos Estados Unidos em um cartão de crédito do Brasil, seu banco pode converter o valor do pagamento em sua moeda local e cobrar uma taxa de conversão. Isso significa que o valor listado no seu extrato de crédito ou cartão bancário pode estar na sua moeda local e, portanto, um valor diferente do que está mostrado na página de resumo do faturamento para uma Reserva reservada no Site. Além disso, uma taxa de transação estrangeira pode ser avaliada se o banco que emitiu seu cartão de crédito estiver localizado fora do Brasil. A reserva de viagens internacionais pode ser considerada uma transação internacional pelo banco ou pela empresa de cartão, uma vez que o TourControle Ltda. pode transferir seu pagamento para um fornecedor internacional de viagens. A taxa de câmbio e a taxa de transação estrangeira são determinadas unicamente pelo seu banco no dia em que processam a transação. Se você tiver alguma dúvida sobre essas taxas ou a taxa de câmbio aplicada à sua Reserva, entre em contato com seu banco.</p>

    <h3>RECLAMAÇÕES DE INFRAÇÃO DE DIREITOS AUTORAIS E NOTIFICAÇÃO DE CONTAS</h3>

    <p>O TourControle respeita os direitos autorais de outros. Se você acredita de boa fé que os materiais hospedados por nós infringem seus direitos autorais, você (ou seu agente) pode nos enviar uma notificação por escrito que inclua a seguinte informação (observe que não processaremos sua reclamação se não estiver devidamente preenchida ou se a queixa estiver incompleta):</p>

    <ul>
      <li>
        Uma identificação clara do trabalho protegido por direitos autorais que você alega foi infringido.
      </li>
      <li>
        Uma identificação clara do material que você acredita infringir o trabalho protegido por direitos autorais, e informações que nos permitirão localizar esse material no site, como um link para o material infrator.
      </li>
      <li>
        Suas informações de contato para que possamos responder a sua reclamação, de preferência incluindo um endereço de e-mail e número de telefone.
      </li>
      <li>
        Uma afirmação de que você acredita de boa fé que o material que é reivindicado como infração de direitos autorais não é autorizado pelo proprietário dos direitos autorais, seu agente ou a lei ".
      </li>
      <li>
        Uma declaração de que as informações na notificação são precisas e, sob pena de perjúrio, a parte reclamante é autorizada a agir em nome do proprietário de um direito exclusivo alegadamente violado.
      </li>
    </ul>

    <p>O aviso deve ser assinado pela pessoa autorizada a agir em nome do proprietário de um direito exclusivo que foi supostamente violado.</p>

    <p>As notificações relativas a este site devem ser enviadas por e-mail para support@TourControle.com para a resolução mais rápida. </p>
    <p>Revisaremos e abordaremos todos os avisos que cumpram os requisitos acima. Se removemos ou desativamos o acesso em resposta a tal aviso, podemos notificar o proprietário ou o administrador do site ou conteúdo afetado para que ele ou ela possa fazer uma contra notificação.</p>

    <p>Sugerimos que você procure um advogado antes de enviar um aviso. Qualquer declaração falsa no seu aviso sobre se conteúdo ou atividade está infringindo pode expô-lo a responsabilidade por danos (incluindo custos e honorários advocatícios).</p>

    <h3>DISPOSIÇÕES FINAIS</h3>

    <p>De acordo com o Digital Millennium Copyright Act ("DMCA") e outras leis aplicáveis, o TourControle adotou uma política de rescisão, nas circunstâncias apropriadas e no exclusivo critério do TourControle, de assinantes ou titulares de contas que são considerados infratores reincidentes. O TourControle também pode, a seu exclusivo critério, limitar o acesso ao Site e / ou encerrar as contas de qualquer usuário que viole quaisquer direitos de propriedade intelectual de terceiros, independentemente de haver ou não uma infração repetida. Se você acredita que um detentor de conta ou assinante é um infrator repetido, forneça informações suficientes para que possamos verificar se o titular da conta ou assinante é um infrator repetido ao arquivar seu aviso.</p>

    <h4>Assuntos Gerais</h4>

    <p>Este Site é operado por uma entidade do Brasil e este Contrato é regido pelas leis do Estado de São Paulo, Brasil. Você concorda com a jurisdição exclusiva e o local dos tribunais em São Paulo, Brasil, em todas as disputas decorrentes ou relacionadas ao uso deste Site. O uso deste Site não é autorizado em qualquer jurisdição que não dê efeito a todas as disposições destes termos e condições, incluindo, sem limitação, este parágrafo.</p>

    <p>Você concorda que não existe joint venture, parceria ou relação de trabalho entre você e as Empresas TourControle como resultado deste Contrato ou do uso deste site.</p>

    <p>Nosso desempenho deste Contrato está sujeito às leis e processos legais vigentes, e nada contido neste Contrato limita nosso direito de cumprir com os pedidos de lei ou outros pedidos ou requisitos governamentais ou legais relativos ao seu uso deste Site ou informações fornecidas ou reunidas por Conosco em relação a esse uso. Na medida em que permitido pela lei aplicável, você concorda que irá trazer qualquer reclamação ou causa de ação decorrente ou relacionada ao seu acesso ou uso deste Site dentro de dois (2) anos a partir da data em que tal reclamação ou ação surgiu ou acumulou Ou tal reivindicação ou causa de ação será irrevogavelmente dispensada.</p>

    <p>Se qualquer parte deste Contrato for considerada inválida, ilegal ou inaplicável, a validade, legalidade e exequibilidade das disposições restantes não serão, de modo algum, afetadas ou prejudicadas. Nossa falha ou atraso na aplicação de qualquer disposição deste Contrato em qualquer momento não renuncia ao nosso direito de aplicar a mesma ou qualquer outra disposição (s) deste documento no futuro.</p>

    <p>Este Contrato (e quaisquer outros termos e condições aqui mencionados) constituem o acordo completo entre você e TourControle, Ltda. em relação a este site e substitui todas as comunicações e propostas anteriores ou contemporâneas, eletrônicas, orais ou escritas, entre as Cliente e TourControle, Inc. com respeito a este site. Uma versão impressa deste Contrato e de qualquer aviso fornecido em formato eletrônico será admissível em processos judiciais ou administrativos com base ou relacionados com este Contrato na mesma extensão e sujeito às mesmas condições que outros documentos </p>

    <p>Os nomes fictícios de empresas, produtos, pessoas, personagens e / ou dados mencionados neste site não se destinam a representar qualquer indivíduo, empresa, produto ou evento real.</p>

    <p>Todos os direitos não expressamente concedidos aqui são reservados.</p>

    <h3>ACORDO DE MERCADO</h3>
    <p>O TourControle usa o Empresa Parceira de Pagamentos da TourControle como seu provedor de serviços de terceiros para serviços de pagamento (por exemplo, aceitação de cartão, liquidação de comerciante e serviços relacionados). Ao comprar ou vender no TourControle, você concorda em ficar vinculado pela Política de Privacidade do Empresa Parceira de Pagamentos da TourControle e, por meio deste, autorizar o TourControle e o Empresa Parceira de Pagamentos da TourControle a compartilhar quaisquer informações e instruções de pagamento que você forneça com o Provedor de Serviços de Terceiros na extensão mínima necessária para concluir suas transações.</p>

    <p>Ao listar ou vender itens no TourControle, você também concorda em ficar vinculado pelo Contrato de Usuário do Empresa Parceira de Pagamentos da TourControle.</p>

    <p>© 2017 TourControle, Ltda. Todos os direitos reservados.</p>
  </div>
</div>
