<div class=" row nested-fields bookings_fields form-inline">
  <%= f.simple_fields_for  :guest do |guest| %>
    <%= render 'shared/forms/nested/guest_fields', f: guest %>
  <% end %>

  <%= link_to_remove_association '<i class="fas fa-user-minus fa-lg"></i> Remover'.html_safe, f, class: 'btn btn-md btn-warning align-right' %>
</div>
