<div class="nested-fields bookings_fields">
  <%= f.simple_fields_for :guest do |guest| %>
    <h4>Dados pessoais</h4>
    <%= render 'shared/forms/nested/guest_fields', f: guest %>
  <% end %>
  <%= link_to_remove_association 'Excluir pessoa', f, class:'btn btn-md btn-warning' %>
</div>
