<div class="nested-fields guest_fields">
  <div class="">
    <%= f.input :first_name, label: false, placeholder: 'Nome'  %>
    <%= f.input :last_name, label: false, placeholder: 'Sobrenome'  %>
   <%= f.input :email, label: false, placeholder: 'Email' %>
  </div>
</div>
