<div class="nested-fields">
  <%= f.input :first_name, label: 'Nome'  %>
  <%= f.input :last_name, label: 'Sobrenome'  %>
  <%= f.input :email, label: 'Email' %>
  <%= link_to_remove_association 'Excluir pessoa', f , class: 'btn btn-warning btn-md' %>
</div>
