

<div class="nested-fields payment_fields">
  <div class="form-row">
    <div class="col-xs-6 nmb_a">
      <%= f.input :number, label: false, placeholder: 'Número de cartão', input_html: {autocomplete:"off", class: "credit_card_number", 'data-iugu'=>"number"}  %>
    </div>
    <div class="col-xs-6">
      <%= f.input :ccv, placeholder: 'CCV', label: false, input_html: {autocomplete:"off", class: "credit_card_cvv", 'data-iugu'=>"verification_value"}  %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-xs-6 nmb_c">
      <%= f.input :name, label: false, placeholder: 'Titular do cartão',
      input_html:{class: 'credit_card_name', 'data-iugu'=> 'full_name'}  %>
    </div>
    <div class="col-xs-6 nmb_d">
      <%= f.input :exp, label:false, as: :string, input_html: {class: 'credit_card_expiration', 'data-iugu'=>'expiration', autocomplete: 'off'}, placeholder:"MM/AA"   %>
    </div>
  </div>
  <% f.input :token, label: false, hidde: true, input_html: { name: "token", id: "token", readonly:"true", size:"64", style: "text-align:center"}  %>
</div>
