.container {
  padding-bottom: 20px;
}

.activities-container {
  .row {
    margin:10px;
    padding: 5px;
  }
}

.gallery-container{
  padding:30px 0px 30px 0px;
  background-color: $mid80;
  .row{
    margin:0px;
    .col{
      margin:0px;
    }

  }
  img:hover{
    opacity: 0.7;
  }
}

.pair-image-button-container {
  .btn, img{
    display: inline-block;
  }
  .btn{
    display: flex;
    position: absolute;
    bottom: 0px;
  }
}

.activity-content-container {
  margin: 0px 10px 0px 10px;
  padding: 40px 10px 40px 10px;
}

.activity-calendar-container{

}

.bank-wrapper{
  .bank-container{
    .bank-segment{
      margin: 0px 10px 10px 0px;
      padding: 0px 10px 10px 0px;

    }
    .bank-info-container{
      margin:5px;
      padding: 10px;
    }
    .transfer-container {
      margin:10px;
      padding:10px;
    }
  }
}


