
.form-login {

  background: $dark-gray;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  margin-bottom: 50px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    text-align:center;
    text-weight: bold;
    width: 100%;
    margin-bottom: 20px
  }
}

.form-activity {
  input, textarea{
    border-radius: 6px;
    box-shadow: 8px;
  }
  h4 {
    font-size: 18px;
  }
  input, textarea, label{
    font-size: 12px;
  }
}

.landing-form {
  text-align: center;
  input{
    border-radius: 5px;
    font-size: 20px;
  }
}

form{
  .big-checkbox{
    width: 25px;
    height: 25px;
    .form-check-label{
    }
  }
}


.terms-link {
  color: $darker-gray;
  font-style: italic;
  font-size: 18px;
}

#new_order,{
  margin-top: 15px;
  background-color: $light-blue;
  margin: 2px;
  padding: 2px 2px 16px 2px;
  box-shadow: 1px 1px 2px rgba(0,3,1,0.2);
  border-radius: 12px;
  input, select{
    border-radius:9px;
  }

  #payment{
    .payment_fields{
      margin: 2px;
      padding: 2px;

      .form-order{
        border: solid 3px $deep80;
        border-radius: 12px;
        margin: 5px 5px 10px 5px;
        padding: 10px 10px 15px 10px;
        background: $mid20;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        h4, h5, label{
          color: $deep;
        }
      }
      .payment-card{
        .active{
          background-color: $active;
          font-weight: bold;
          color: $deep;
        }
      }
    }
  }
  #guest{
    .form-guest{
      margin: 2px ;
      padding: 2px;
      .add_fields {
        padding-left: 14px;
        margin-left: 9px;
      }
      h4, h3{
        color:$mid;
      }
      .remove_fields{
        margin: 10px 0px 0px 0px;
      }
      .bookings_fields {
        border: solid 3px $mid;
        background: $light80;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        margin: 5px 5px 10px 5px;
        padding: 10px 10px 15px 10px;
        border-radius: 12px;
        .guest_fields{
          margin: 5px;
          padding: 5px;
        }
      }
    }
  }
  .terms-input, #submit-button{
    margin:15px;
  }
  .terms-input{
    background-color: $contrast;
  }
}

.form-format{
  margin: 15px ;
  background-color: $light-blue;
  margin: 2px;
  padding: 2px 2px 16px 2px;
  box-shadow: 1px 1px 2px rgba(0,3,1,0.2);
  border-radius: 12px;
  h4, h5, label {
    color: $deep;
  }
  input, select{
    border-radius:9px;
  }
  .form-segment{
    margin:10px;
    padding:25px;
    border: solid 3px $deep80;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background: $mid20;
    border-radius: 12px;
  }
}
