// Import your components CSS files here.
@import "alert";
@import "navbar_tour_store";
@import "navbar_tourcontrole";
@import "footer_tourcontrole";
@import "footer_tour_store";
@import "wrappers";
@import "cards";
@import "banners";
@import "buttons";
@import "forms";
@import "containers";
@import "sidebar";
*{
  --navbar-height: 70px;
  --footer-height: 80px;
  --full-height: calc(100vh -  var(--navbar-height) - calc( var(--footer-height) / 4 ) - 0px);

}
