// Import your components CSS files here.
@import "navbars/index";
@import "footers/index";
@import "alert";
@import "wrappers";
@import "cards";
@import "banners";
@import "buttons";
@import "forms";
@import "containers";
@import "calendar";
@import "images";

//General components variables

*{
  --navbar-height: 70px;
  --footer-height: 80px;
  --full-height: calc(100vh -  var(--navbar-height) - calc( var(--footer-height) / 1 ) - 0px);

}
