<%= render 'shared/components/navbars/sidebar' %>
<div class="col-xs-10">
  <h1><%= @activity.name %></h1>
  <h2>Póximos Eventos</h2>
  <div class="col-xs-12 col-sm-10">
    <% @events.each do |event|  %>
      <div class="row">
        <%= render 'shared/components/tables/table_event_details', event: event  %>
      </div>
      <div class="row">
        <h4>Pessoas confirmadas</h4>
        <%= render 'shared/components/tables/table_event_guests_details', event: event  %>

      </div>
  <% end %>
</div>
