<%= render 'shared/components/navbars/sidebar' %>
<div class="col-xs-10">
  <h1><%= @activity.name %></h1>

  <% @events.each do |event|  %>
    <%= render 'shared/components/tables/table_activity_events', event: event  %>
  <% end %>
</div>
