<% if is_admin? %>
  <div class="btn-group align-right activity-admin-buttons admin-buttons">
    <%= link_to '<i class="fas fa-edit"></i> Editar'.html_safe, edit_tour_store_activity_path(activity.tour_store, activity), class: 'btn btn-primary btn-md'  %>
    <%= link_to '<i class="fas fa-trash-alt"></i> Excluir'.html_safe, activity_path(activity), method: :delete, data: {confirm: "Esta ação é definitiva \n Tem certeza que quer excluir o tour? \n #{activity.name}  "}, class: 'btn btn-danger btn-md'  %>
    <%= link_to '<i class="fas fa-plus"></i> Novo Tour'.html_safe, new_tour_store_activity_path(activity.tour_store), class: 'btn btn-success btn-md' %>
  </div>
<% end %>
