
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 image-thumb-box">
  <a title="Image 1" href="#">
    <%= cl_image_tag image, width: 1200, height:700, class: 'thumbnail img-responsive' %>
  </a>
</div>
