<%= render 'shared/components/navbars/sidebar' %>
<div class="col-xs-10">
  <h1>Cadastre seus dados bancarios</h1>
  <%= render 'shared/forms/form_banking_information', tour_store: @tour_store, banking_information: @banking_information  %>
</div>
